{%- case include.type -%}
{%- when "square" -%}
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client={{ site.data-ad-client }}" crossorigin="anonymous"></script>
<!-- Square ( Responsive ) -->
<style>
     .square {
      width: auto;
      height: 250px;
     }
     
     @media(max-width: 799px) {
       .square {
         width: 300px;
         height: 250px;
       }
     }
     
     @media(max-width: 499px) {
       .square {
         width: 250px;
         height: 250px;
       }
     }
</style>

<ins class="adsbygoogle square"
     data-ad-client="{{ site.data-ad-client }}"
     data-ad-slot="7663977887"
     ></ins>
<script>(adsbygoogle = window.adsbygoogle || []).push({});</script>

{%- when "button" -%}
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client={{ site.data-ad-client }}" crossorigin="anonymous"></script>
<!-- Square ( Responsive ) -->
<style>
     .button {
      width: auto;
      height: 50px;
     }
</style>

<ins class="adsbygoogle button"
     data-ad-client="{{ site.data-ad-client }}"
     data-ad-slot="3836856744"
     ></ins>
<script>(adsbygoogle = window.adsbygoogle || []).push({});</script>

{%- when "top-leaderboard" -%}
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client={{ site.data-ad-client }}" crossorigin="anonymous"></script>
<style>
     .top-leaderboard {
      height: 90px;
     }
     
     @media (max-width: 499px) {
       .top-leaderboard {
         height: 60px;
       }
     }
</style>

<div class="uk-flex uk-flex-middle uk-padding-small" uk-scrollspy="cls: uk-animation-slide-bottom; target: .animate-on-scroll; delay: 200;">
    <ins class="adsbygoogle uk-border-rounded top-leaderboard uk-align-center uk-box-shadow-medium animate-on-scroll"
      data-ad-client="{{ site.data-ad-client }}"
      data-ad-slot="3487917390">
   </ins>
</div>
<script>(adsbygoogle = window.adsbygoogle || []).push({});</script>


{%- when "small-leaderboard" -%}
<style>
     .small-leaderboard {
      width: 100%;
      height: 90px;
     }
     
     @media(max-width: 500px) {
       .small-leaderboard {
         height: 90px;
       }
     }
     
     @media(max-width: 800px) {
       .small-leaderboard {
         height: 50px;
       }
     }
</style>

  <div class="uk-flex uk-flex-middle uk-padding-small" uk-scrollspy="cls: uk-animation-slide-bottom; target: .animate-on-scroll; delay: 200;">
    <ins class="adsbygoogle uk-border-rounded small-leaderboard uk-align-center uk-box-shadow-medium animate-on-scroll"
      data-ad-client="{{ site.data-ad-client }}"
      data-ad-slot="3487917390">
   </ins>
</div>
<script>(adsbygoogle = window.adsbygoogle || []).push({});</script>

{%- when "large-leaderboard" -%}
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client={{ site.data-ad-client }}" crossorigin="anonymous"></script>

<style>
     .large-leaderboard {
      width: auto;
      height: 250px;
      border-left: 10px solid #E53935;
      border-right: 10px solid #E53935;
      border-radius: 10px;
      background-color: #f7f7f7;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 2em auto;
      text-align: center;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);

     }
     
     @media(max-width: 500px) {
       .large-leaderboard {
         width: auto;
         height: 250px;
       }
     }
     
     @media(max-width: 800px) {
       .large-leaderboard {
         width: 300px;
         height: 100px;
       }
     }
</style>

<ins class="adsbygoogle large-leaderboard"
     data-ad-client="{{ site.data-ad-client }}"
     data-ad-slot="3487917390"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>(adsbygoogle = window.adsbygoogle || []).push({});</script>

{%- when "skyscraper" -%}
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client={{ site.data-ad-client }}" crossorigin="anonymous"></script>
<style>
     .skyscraper {
       width: 250px;
       height: 250px;
       border-top: 10px solid #E53935;
       border-bottom: 10px solid #E53935;
       border-radius: 10px;
       background-color: #f7f7f7;
       display: flex;
       justify-content: center;
       align-items: center;
       margin: 0 auto;
       text-align: center;
       box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
     }
     
     @media(min-width: 500px) {
       .skyscraper {
         width: 320px;
         height: 480px;
       }
     }
     
     @media(min-width: 800px) {
       .skyscraper {
         width: 300px;
         height: 900px;
       }
     }
     
     @media(min-width: 1200px) {
       .skyscraper {
         width: 300px;
         height: 1050px;
       }
     }
     </style>
<!-- Horizontal ( Responsive ) -->
<ins class="adsbygoogle skyscraper"
     data-ad-client="{{ site.data-ad-client }}"
     data-ad-slot="8939839370"></ins>
<script>(adsbygoogle = window.adsbygoogle || []).push({});</script>

{%- when "skyscraper-small" -%}
<style>
     .small-skyscraper {
       width: 200px;
       height: 200px;
       border-top: 10px solid #E53935;
       border-bottom: 10px solid #E53935;
       border-radius: 10px;
       background-color: #f7f7f7;
       display: flex;
       justify-content: center;
       align-items: center;
       margin: 0 auto;
       text-align: center;
       box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
     }
     
     @media(min-width: 500px) {
       .small-skyscraper {
         width: 320px;
         height: 480px;
       }
     }
     
     @media(min-width: 800px) {
       .small-skyscraper {
         width: 300px;
         height: 600px;
       }
     }
     
     @media(min-width: 1200px) {
       .small-skyscraper {
         width: 300px;
         height: 700px;
       }
     }
     
     @media (max-width: 1200px) and (min-width: 501px) {
       .small-skyscraper {
         width: 300px;
         height: 600px;
       }
     }
     
     @media (max-width: 500px) {
       .small-skyscraper {
         width: 300px;
         height: 250px;
       }
     }
     </style>
     
     <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1234567890123456" crossorigin="anonymous"></script>
     
     <!-- small skyscraper -->
     <ins class="adsbygoogle small-skyscraper"
          data-ad-client="{{ site.data-ad-client }}"
          data-ad-slot="3487917390"
     ></ins>
     
     <script>
     (adsbygoogle = window.adsbygoogle || []).push({});
     </script>

{%- when "article" -%}
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client={{ site.data-ad-client }}" crossorigin="anonymous"></script>
<style>
     .article { 
          border-top: 10px solid #E53935;
          border-bottom: 10px solid #E53935;
          border-radius: 10px;
          background-color: #f7f7f7;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 2em auto;
          text-align: center;
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
     }
</style>

<ins class="adsbygoogle article"
     data-ad-layout="in-article"
     data-ad-format="fluid"
     data-ad-client="{{ site.data-ad-client }}"
     data-ad-slot="6501428979"></ins>
<script>(adsbygoogle = window.adsbygoogle || []).push({});</script>

{%- when "multiplex" -%}
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client={{ site.data-ad-client }}" crossorigin="anonymous"></script>
<ins class="adsbygoogle ad"
     style="display:block"
     data-ad-format="autorelaxed"
     data-ad-client="{{ site.data-ad-client }}"
     data-ad-slot="6808134701"></ins>
<script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
{%- else -%}
<!-- Invalid ad type -->
{%- endcase -%}