{% if include.tag %}
<div class="uk-section section-featured{% if include.background %} uk-section-{{include.background}}{% endif %}">
    <div class="uk-container uk-container-small">

        {% if include.title %}
        <h2 class="uk-h1 uk-text-center">{{ include.title }}</h2>
        {% endif %}

        {% if include.subtitle %}
            <p class="uk-text-center uk-text-lead">{{ include.subtitle | escape }}</p>
        {% endif %}
        
        <div class="uk-grid uk-grid-medium uk-child-width-1-2@m" uk-grid>
            <div>
                <div class="uk-card uk-card-default uk-card-body">
                    <h3 class="uk-card-title">Popular Documents</h3>
                    <div class="uk-icon">
                        <span class="material-icons">description</span>
                    </div>
                    <ul class="uk-list uk-list-large">
                    {% for doc in site.docs %}
                        {% if doc.tags contains include.tag or doc.categories contains include.tag %}
                        <li><a href="{{ site.baseurl }}{{ doc.url }}">{{ doc.title }}</a></li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default uk-card-body">
                    <h3 class="uk-card-title">Popular Articles</h3>
                    <div class="uk-icon">
                        <span class="material-icons">article</span>
                    </div>
                    <ul class="uk-list uk-list-large">
                    {% for post in site.posts %}
                        {% if post.tags contains include.tag or post.categories contains include.tag %}
                        <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>
{% endif %}
