{% if include.tag %}
<section class="section{% if include.background %} has-background-{{include.background}}{% endif %}">
    <div class="container is-max-desktop">

        {% if include.title %}
        <h2 class="title has-text-centered">{{ include.title }}</h2>
        {% endif %}

        {% if include.subtitle %}
            <p class="subtitle has-text-centered">{{ include.subtitle | escape }}</p>
        {% endif %}
        
        <ul class="list is-large mt-6">
        {% for post in site.posts %}
            {% if post.tags contains 'featured' or post.categories contains 'featured' %}
            <li><a class="box has-shadow-hover" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
            {% endif %}
        {% endfor %}
        {% for doc in site.docs %}
            {% if doc.tags contains include.tag or doc.categories contains include.tag %}
            <li><a class="box has-shadow-hover" href="{{ site.baseurl }}{{ doc.url }}">{{ doc.title }}</a></li>
            {% endif %}
        {% endfor %}
        </ul>

    </div>
</section>
{% endif %}

<style>
.has-shadow-hover:hover {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
</style>
