<footer class="section has-text-centered has-text-grey">
    <div class="container is-max-desktop">

        <div>
            <ul class="is-flex is-justify-content-center is-align-items-center">
                {% for link in site.data.navigation_footer %}
                    {% if link.url contains 'http' %}
                        {% assign domain = '' %}
                    {% else %}
                        {% assign domain = '' | relative_url %}
                    {% endif %}
                    {% if link.url == page.url %}
                        {% assign current = ' has-text-primary' %}
                    {% else %}
                        {% assign current = '' %}
                    {% endif %}
                    {% if link.title %}
                        <li class="mx-2{{ current }}"><a href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank" {% endif %}>{{ link.title }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="my-5">
            <div class="is-flex is-justify-content-center">
                {% include social-networks.html %}
            </div>
        </div>
        <div class="my-5 is-size-7">{{ site.footer.copyright }}</div>
    </div>
</footer>

<style>
    .footer {
        background-color: #f5f5f5;
        padding: 2rem 1.5rem;
    }
    .footer .menu-list {
        list-style-type: none;
        padding-left: 0;
    }
    .footer .menu-list li {
        margin-bottom: 0.5rem;
    }
    .footer .menu-list li a:hover {
        color: #3273dc !important;
    }
</style>
