{% if include.email %}
<form class="uk-form-stacked uk-margin-medium-top" method="POST" action="https://formspree.io/{{ include.email }}" accept-charset="UTF-8">
    {% if include.name == 'true' %}
    <div class="uk-margin-medium-bottom">
        <label class="uk-form-label uk-margin-small-bottom" for="form-stacked-text">{{ site.data.translation[site.lang].contact_name | default: "Name" }}</label>
        <div class="uk-form-controls">
            <input class="uk-input uk-form-large uk-border-rounded" name="name" type="text" required>
        </div>
    </div>
    {% endif %}
    <div class="uk-margin-medium-bottom">
        <label class="uk-form-label uk-margin-small-bottom" for="form-stacked-text">{{ site.data.translation[site.lang].contact_email | default: "Email" }}</label>
        <div class="uk-form-controls">
            <input class="uk-input uk-form-large uk-border-rounded" name="_replyto" type="email" required>
        </div>
    </div>
    {% if include.subject == 'true' %}
    <div class="uk-margin-medium-bottom">
        <label class="uk-form-label uk-margin-small-bottom" for="form-stacked-text">{{ site.data.translation[site.lang].contact_subject | default: "Subject" }}</label>
        <div class="uk-form-controls">
            <input class="uk-input uk-form-large uk-border-rounded" name="_subject" type="text">
        </div>
    </div>
    {% endif %}
    <div class="uk-margin-medium-bottom">
        <label class="uk-form-label uk-margin-small-bottom" for="form-stacked-text">{{ site.data.translation[site.lang].contact_message | default: "Message" }}</label>
        <div class="uk-form-controls">
            <textarea class="uk-textarea uk-form-large uk-border-rounded" name="message" rows="5" minlength="10" required></textarea>
        </div>
    </div>
    <div>
        {% if include.redirect %}
        <input type="hidden" name="_next" value="{{ include.redirect | absolute_url }}">
        {% endif %}
        <input type="text" name="_gotcha" style="display:none">
        <input class="uk-button uk-button-primary uk-button-large uk-width-1-1" type="submit" value="{{ site.data.translation[site.lang].contact_send | default: 'Send' }}">
    </div>
</form>
{% endif %}

<video id="content_video" class="video-js vjs-default-skin vjs-16-9" controls preload="auto" width="640" height="360">
    <source src="https://d2s16lg4p2rvcl.cloudfront.net/binary/2019/5/16/13/art_7205357/4cc5_rocketman_i_biografen_29.maj_dansk_trailer_2.m3u8?Expires=1565178782&amp;Signature=QSJIheA9HzhtYAZe4jXQbNxLHuQq7AouRMYSHf08KbvnhYQnGARQoKJnTdt3S1aIKkb6t9uW0dKNaRPhnPbP56MUMTe2mYYnzzAeFQE~17rVgo81a~FMftP9haO8JFqs1XDWYx5s3u95Fe4-4YP2QcdF3ADuFavojrzDdfWWXaaeHVeD8YDpstxwMelSftfx2negcy9rrmKg9qcBa-PggjXmc289OcTMaVzlJsHulQPxre0BZnrX5SMrHP~AHPUt7YNTvrHxd~rvfuwWF1exPadADeNKEGOnjlDx2Hr0ljxgC1QvXz3NhErnzp9aWZ8-clPhES-lgO0Ll9c88lMGMw__&amp;Key-Pair-Id=APKAIL4UOMSEWYHIHUDA" type="application/x-mpegURL" />
  </video>
