{% if page.author %}
  {% assign author = site.authors[page.author] %}
{% else %}
  {% assign author = site.author %}
{% endif %}

<div class="media">
  {% if author.avatar %}
    {% if author.avatar contains 'http' %}
      {% assign avatar_url = author.avatar %}
    {% else %}
      {% assign avatar_url = site.baseurl | append: author.avatar %}
    {% endif %}
    <figure class="media-left">
      <p class="image is-48x48">
        <img class="is-rounded" src="{{ avatar_url }}" alt="{{ author.name }}">
      </p>
    </figure>
  {% endif %}

  <div class="media-content">
    <div class="content">
      {% if author.name %}
        <p>
          {{ site.data.translation[site.lang].written_by | default: "Written by" }} 
          <span itemprop="author" itemscope itemtype="http://schema.org/Person">
            <span itemprop="name">{{ author.name }}</span>
          </span>
          <br>
          <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
            {% assign date_format = site.date_format | default: "%b %-d, %Y" %}
            {{ page.date | date: date_format }}
          </time>
        </p>
      {% endif %}
    </div>
  </div>
</div>
