<div class="section section-team">
    <div class="container is-fluid">

        {% if include.title %}
            <h2 class="title has-text-centered">{{ include.title }}</h2>
        {% endif %}

        {% if include.subtitle %}<p class="subtitle has-text-centered">{{ include.subtitle | escape }}</p>{% endif %}

        <div class="columns is-multiline is-centered has-text-centered mt-6">

        {% if include.authors %}
            {% assign authors = include.authors | split: ", " %}
        {% else %}
            {% assign authors = site.authors %}
        {% endif %}

        {% for author in authors %}

            {% if include.authors %}
                {% assign item = site.authors[author] %}
            {% else %}
                {% assign item = author[1] %}
            {% endif %}

            <div class="column is-one-quarter">
                <div class="card">
                    {% if item.avatar %}
                        {% if item.avatar contains 'http' %}
                            {% assign domain = '' %}
                        {% else %}
                            {% assign domain = site.uploads | absolute_url %}
                        {% endif %}

                        <div class="card-image">
                            <figure class="image is-128x128 is-inline-block">
                                <img class="is-rounded" src="{{ domain }}{{ item.avatar }}" alt="{{ item.name }}">
                            </figure>
                        </div>
                    {% endif %}
                    <div class="card-content">
                        <h5 class="title is-5">{{ item.name }}</h5>
                        <p class="subtitle is-6">{{ item.title }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>

    </div>
</div>
