---
title: Blog
layout: default
---

{% include ad.html type="top-leaderboard" %}
<section class="section">
    <div class="container">
        <h1 class="title has-text-centered">{{ page.title | escape }}</h1>
        <div class="columns is-multiline">
            {% for post in paginator.posts %}
            <div class="column is-one-third">
                <div class="card">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                {% if post.author %}
                                    {% assign author = site.authors[post.author] %}
                                {% else %}
                                    {% assign author = site.author %}
                                {% endif %}

                                {% if author.avatar %}
                                    {% if author.avatar contains 'http' %}
                                        {% assign domain = '' %}
                                    {% else %}
                                        {% assign domain = site.uploads | absolute_url %}
                                    {% endif %}
                                    <figure class="image is-48x48">
                                        <img class="is-rounded" src="{{ domain }}{{ author.avatar }}" alt="{{ author.name }}">
                                    </figure>
                                {% endif %}
                            </div>
                            <div class="media-content">
                                <h3 class="title is-4">{{ post.title }}</h3>
                                <p class="subtitle is-6">
                                    <time datetime="{{ post.date | date_to_xmlschema }}">
                                        {% assign date_format = site.date_format | default: "%b %-d, %Y" %}
                                        {{ post.date | date: date_format }}
                                    </time>
                                </p>
                            </div>
                        </div>
                        <div class="content">
                            {{ post.excerpt }}
                        </div>
                    </div>
                    <footer class="card-footer">
                        <a href="{{ post.url | relative_url }}" class="card-footer-item">{{ site.data.translation[site.lang].read_more | default: "Read more" }} &rarr;</a>
                    </footer>
                </div>
            </div>
            {% endfor %}
        </div>
        {% include paginate-blog.html %}
    </div>
</section>
{% include ad.html type="top-leaderboard" %}
