---
layout: default
---

<section class="section">
    <div class="container is-max-desktop">

        <h1 class="title">{{ page.title | escape }}</h1>

        <div class="content">
            {{ content }}
        </div>

        {% assign changelogs = site.changelogs | sort: 'date' | reverse %}

        {% for changelog in changelogs %}
            <article class="content mt-6">
                <hr class="mb-6">
                <div class="is-flex is-align-items-center is-justify-content-space-between">
                    <h2>{{ changelog.title }}</h2>
                    <div class="is-hidden-mobile has-text-grey-light">
                        {% if changelog.date %}
                        <time datetime="{{ changelog.date | date_to_xmlschema }}">
                            {% assign date_format = site.date_format | default: "%b %-d, %Y" %}
                            {{ changelog.date | date: date_format }}
                        </time>
                        {% endif %}
                    </div>
                    <div class="is-hidden-tablet has-text-grey-light mb-4">
                        {% if changelog.date %}
                        <time datetime="{{ changelog.date | date_to_xmlschema }}">
                            {% assign date_format = site.date_format | default: "%b %-d, %Y" %}
                            {{ changelog.date | date: date_format }}
                        </time>
                        {% endif %}
                    </div>
                </div> 
                <div class="content">{{ changelog.content }}</div>
            </article>
        {% endfor %}
    </div>
</section>
