<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

    {% include head.html %}

    <body>

    {% if page.hero %}
        {% include hero.html %}

        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1291242080282540"
     crossorigin="anonymous"></script>
<!-- Horizontal ( Responsive ) -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-1291242080282540"
     data-ad-slot="8939839370"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>

    {% else %}
        {% include navbar.html %}
    {% endif %}

    {{ content }}

    {% include offcanvas-docs.html %}

    {% include offcanvas.html %}

    {% if page.layout != 'doc' %}
        {% include footer.html %}
    {% endif %}

    {% if page.layout == 'doc' %}
        {% include hook-pre-closing-body-doc.html %}
    {% endif %}

    {% include hook-pre-closing-body.html %}

    </body>

</html>
