---
layout: default
---
{% include ad.html type="top-leaderboard" %}
<div class="section my-3">
    <div class="container">
        <div class="columns">
            <div class="column is-one-quarter is-hidden-mobile">
                <div class="menu">
                    {% for section in site.data.navigation_docs %}
                    <p class="menu-label"><a href="{{ section.url }}">{{ section.title }}</a></p>
                    <ul class="menu-list">
                        {% for doc in section.docs %}
                          {% assign doc_url = doc | prepend:"/docs/" | append:"/" %}
                          {% assign p = site.docs | where:"url", doc_url | first %}
                          <li class="{% if doc_url == page.url %}is-active{% endif %}"><a href="{{ p.url | relative_url }}">{{ p.title }}</a></li>
                        {% endfor %}
                    </ul>
                    {% endfor %}                
                </div>
                {% include ad.html type="square" %}
            </div>

            <div class="column">
                <article class="content">
                    <h1 class="title">{{ page.title | escape }}</h1>
                    {% if page.subtitle %}<p class="subtitle has-text-grey">{{ page.subtitle }}</p>{% endif %}

                    <div class="media-content mb-4">
                        {% include post-meta.html %}
                    </div>

                    <div class="content">
                        {{ content }}
                        {% if site.share.doc %}
                            {% include share.html %}
                        {% endif %}
                    </div>

                    {% include hook-post-content-doc.html %}

                    <hr class="my-6">

                    {% include paginate-doc.html %}

                    {% include related-docs.html %}

                    {% if site.disqus.shortname %}
                        {% include disqus_comments.html %}
                    {% endif %}
                </article>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        {% include ad.html type="large-leaderboard" %}
    </div>
</section>

<footer class="footer has-background-primary has-text-white">
    <div class="container">
        <div class="columns">
            <!-- Column 1: Project Description -->
            <div class="column">
                <h3 class="title is-4 has-text-white">{{ site.title }}</h3>
                <p>{{ site.description }}</p>
            </div>
            <!-- Column 2: Quick Links -->
            <div class="column">
                <h3 class="title is-4 has-text-white">Quick Links</h3>
                <ul class="list">
                    <li><a class="has-text-white" href="#">Link 1</a></li>
                    <li><a class="has-text-white" href="#">Link 2</a></li>
                    <li><a class="has-text-white" href="#">Link 3</a></li>
                </ul>
            </div>
            <!-- Column 3: Responsive Autoplay Video -->
            <div class="column">
                <h3 class="title is-4 has-text-white">Watch My Story</h3>
                <div class="video-container">
                    <video controls playsinline loop muted autoplay poster="your-poster-image.jpg">
                        <source src="https://ik.imagekit.io/ikmedia/videos/woman-walking.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                    <div class="overlay has-background-white">
                        <p><a href="#">Read My Story</a></p>
                    </div>
                </div>
            </div>
            <!-- Column 4: Square AdSense Ad -->
            <div class="column">
                <h3 class="title is-4 has-text-white">Advertisements</h3>
                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1291242080282540"
                    crossorigin="anonymous"></script>
                <!-- Square (250 * 250) -->
                <ins class="adsbygoogle"
                    style="display:inline-block;width:250px;height:250px"
                    data-ad-client="ca-pub-1291242080282540"
                    data-ad-slot="6066270853"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
        </div>
    </div>
</footer>
